/* your styles go here */
.device {
  margin-bottom: 30px;
}

.formDevice {
  display: flex;
  padding-top: 30px;
}

.h1 {
  padding-top: 30px;
  padding-left: 30px;
}

.labelDevice {
  padding-left: 30px;
  padding-right: 15px;
  font-size: 18px;
}

.selectDevice {
  border-radius: 5px;
  cursor: pointer;
  padding: 2px 5px 2px 5px;
  margin-right: 8px;
}

.btnDevice {
  padding: 3px 7px 3px 7px;
  border: 1px solid black;
  border-radius: 5px;
}

.brnDevice:hover {
  background-color: rgb(206, 205, 205);
}

.btnCSV {
  padding: 3px 7px 3px 7px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 15px;
  font-size: 12px;
}

.btnCSV:hover {
  background-color: rgb(206, 205, 205);
}

.valueSensor {
  display: flex;
  justify-content: space-between
}


canvas {
  padding-top: 40px;
  padding-bottom: 50px;
 }

 @media screen and (max-width:574px)  {
  .nav-item {
    display: inline-block;
  }
  .formDevice {
    flex-direction: column
  }

  .deviceForm {
    padding-left: 30px;
  }

  .selectDevice {
    font-size: 12px;
  }
  
  .btnDevice {
    font-size: 12px;
  }

  .btnCSV {
    font-size: 10px;
  }

  .userDisplay {
    display: none;
  }

   }
